In [ ]:
import pandas as pd
# import sys
# sys.path.append('E:\Package\Boilerplate\morethansentiments\src')
import MoreThanSentiments as mts

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [31]:
import importlib
importlib.reload(mts)

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [ ]:
mts.test_func()

'Lib is ready'

### Read Data

In [5]:
my_dir_path = "/content/business"

In [6]:
df = mts.read_txt_files(PATH = my_dir_path)
display(df)

    file_num                                               text
0    247.txt  Renault boss hails 'great year'  Strong sales ...
1    244.txt  Market unfazed by Aurora setback  As the Auror...
2    184.txt  M&S cuts prices by average of 24%  Marks & Spe...
3    278.txt  SBC plans post-takeover job cuts  US phone com...
4    086.txt  Manufacturing recovery 'slowing'  UK manufactu...
..       ...                                                ...
505  219.txt  Rescue hope for Borussia Dortmund  Shares in s...
506  426.txt  Minister hits out at Yukos sale  Russia's rena...
507  510.txt  Lacroix label bought by US firm  Luxury goods ...
508  345.txt  Quake's economic costs emerging  Asian governm...
509  163.txt  US data sparks inflation worries  Wholesale pr...

[510 rows x 2 columns]

### Preprocess data

In [8]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [9]:
df['sent_tok'] = df.text.apply(mts.sent_tok)

In [10]:
df['cleaned_data'] = pd.Series()    
for i in range(len(df['sent_tok'])):
    df['cleaned_data'][i] = [mts.clean_data(x,\
                                            lower = True,\
                                            punctuations=True,\
                                            number=False,\
                                            unicode=True,\
                                            stop_words=False) for x in df['sent_tok'][i]]

In [11]:
%%time
df['Boilerplate'] = mts.Boilerplate(df.cleaned_data, n = 4, min_doc = 30, get_ngram = False)
df['Boilerplate'].mean()

Get the Boilerplate: 100%|██████████| 510/510 [00:00<00:00, 3394.89it/s]
Get the Length of Sentence: 100%|██████████| 510/510 [00:00<00:00, 27788.03it/s]
Flag the Sentence: 100%|██████████| 510/510 [00:00<00:00, 6649.18it/s]

'======================== Boilerplate Calculation Started ========================='

'======================== Boilerplate Calculation Finished ========================'

CPU times: user 1.75 s, sys: 65.2 ms, total: 1.81 s
Wall time: 1.84 s

0.00536274474486886

In [12]:
df['Boilerplate'] = mts.Boilerplate(df.cleaned_data, n = 4, min_doc = 0.058, get_ngram = False)
df['Boilerplate'].mean()

Get the Boilerplate: 100%|██████████| 510/510 [00:00<00:00, 3090.74it/s]
Get the Length of Sentence: 100%|██████████| 510/510 [00:00<00:00, 22637.84it/s]
Flag the Sentence: 100%|██████████| 510/510 [00:00<00:00, 6136.37it/s]

'======================== Boilerplate Calculation Started ========================='

'======================== Boilerplate Calculation Finished ========================'

0.00536274474486886

In [13]:
ngram_list = mts.Boilerplate(df.cleaned_data, n = 4, min_doc = 30, get_ngram = True)
ngram_list

Get the Boilerplate: 100%|██████████| 510/510 [00:00<00:00, 3813.06it/s]

                                  unique_ngrams  counts
0                      (said, in, a, statement)      32
1                       (for, the, first, time)      19
2                      (the, bank, of, england)      19
3       (securities, and, exchange, commission)      19
4                            (by, the, end, of)      18
...                                         ...     ...
131836                (from, mr, glazer, which)       1
131837                   (from, mr, ghosn, who)       1
131838                  (from, mr, blair, more)       1
131839                    (from, more, than, 3)       1
131840          (zurich, financial, said, they)       1

[131841 rows x 2 columns]

In [14]:
%%time
df['Redundancy'] = mts.Redundancy(df.cleaned_data, n = 10)
df['Redundancy'].mean()

Get the Redundancy: 100%|██████████| 510/510 [00:00<00:00, 975.46it/s]

CPU times: user 1.76 s, sys: 44.6 ms, total: 1.8 s
Wall time: 1.85 s

0.00021794659723537864

In [24]:
%%time
df['Specificity'] = mts.Specificity(df.text)
df['Specificity'].mean()

Get the Specificity: 100%|██████████| 510/510 [00:37<00:00, 13.64it/s]

CPU times: user 37.3 s, sys: 587 ms, total: 37.9 s
Wall time: 38.4 s

0.1272459978891029

In [22]:
ner = spacy.load('en_core_web_sm')
len(ner(df.text[0]).ents)/len(df.text[0].split())

0.18726591760299627

In [25]:
%%time
df['Relative_prevalence'] = mts.Relative_prevalence(df.text)
df['Relative_prevalence'].mean()

Get the Relative_prevalence: 100%|██████████| 510/510 [00:00<00:00, 1262.85it/s]

CPU times: user 248 ms, sys: 2.57 ms, total: 250 ms
Wall time: 423 ms

0.006512135012418136

In [26]:
df

,file_num,text,sent_tok,cleaned_data,Boilerplate,Redundancy,Specificity,Relative_prevalence
0,247.txt,Renault boss hails 'great year' Strong sales ...,[Renault boss hails 'great year' Strong sales...,[renault boss hails great year strong sales o...,0.114068,0.0,0.187266,0.007491
1,244.txt,Market unfazed by Aurora setback As the Auror...,[Market unfazed by Aurora setback As the Auro...,[market unfazed by aurora setback as the auro...,0.000000,0.0,0.103792,0.007984
2,184.txt,M&S cuts prices by average of 24% Marks & Spe...,[M&S cuts prices by average of 24% Marks & Sp...,[ms cuts prices by average of 24 marks spenc...,0.000000,0.0,0.129683,0.002882
3,278.txt,SBC plans post-takeover job cuts US phone com...,[SBC plans post-takeover job cuts US phone co...,[sbc plans posttakeover job cuts us phone com...,0.000000,0.0,0.146597,0.010471
4,086.txt,Manufacturing recovery 'slowing' UK manufactu...,[Manufacturing recovery 'slowing' UK manufact...,[manufacturing recovery slowing uk manufactur...,0.000000,0.0,0.104712,0.005236
...,...,...,...,...,...,...,...,...
505,219.txt,Rescue hope for Borussia Dortmund Shares in s...,[Rescue hope for Borussia Dortmund Shares in ...,[rescue hope for borussia dortmund shares in ...,0.000000,0.0,0.132576,0.007576
506,426.txt,Minister hits out at Yukos sale Russia's rena...,[Minister hits out at Yukos sale Russia's ren...,[minister hits out at yukos sale russias rena...,0.000000,0.0,0.087591,0.002433
507,510.txt,Lacroix label bought by US firm Luxury goods ...,[Lacroix label bought by US firm Luxury goods...,[lacroix label bought by us firm luxury goods...,0.000000,0.0,0.133333,0.013333
508,345.txt,Quake's economic costs emerging Asian governm...,[Quake's economic costs emerging Asian govern...,[quakes economic costs emerging asian governm...,0.000000,0.0,0.100000,0.004651
509,163.txt,US data sparks inflation worries Wholesale pr...,[US data sparks inflation worries Wholesale p...,[us data sparks inflation worries wholesale p...,0.000000,0.0,0.106576,0.002268