In [36]:
import pandas as pd
import os
import sys
sys.path.append('C:/Users/jinha')
import morethansentiments as mts

In [37]:
print(os.getcwd())

C:\Users\jinha

In [46]:
import importlib
importlib.reload(mts)

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [39]:
tc.test_func()

'Lib is ready'

### Read Data

In [20]:
my_dir_path = "E:/Package/Boilerplate/Data/bbc/business"

In [21]:
df = nlp.read_txt_files(PATH = my_dir_path)
display(df)

    file_num                                               text
0    001.txt  Ad sales boost Time Warner profit  Quarterly p...
1    002.txt  Dollar gains on Greenspan speech  The dollar h...
2    003.txt  Yukos unit buyer faces loan claim  The owners ...
3    004.txt  High fuel prices hit BA's profits  British Air...
4    005.txt  Pernod takeover talk lifts Domecq  Shares in U...
..       ...                                                ...
505  506.txt  Trial begins of Spain's top banker  The trial ...
506  507.txt  UK economy ends year with spurt  The UK econom...
507  508.txt  HealthSouth ex-boss goes on trial  The former ...
508  509.txt  Euro firms miss out on optimism  More than 90%...
509  510.txt  Lacroix label bought by US firm  Luxury goods ...

[510 rows x 2 columns]

### Preprocess data

In [22]:
temp_col = []
for i in range(len(df)):
    temp_col.append(mts.sent_tok(df.text[i]))
    
for i in range(len(temp_col)):
    temp_col[i] = [mts.clean_data(x, lower = True, punctuations=True, number=False, unicode=True, stop_words=None) for x in temp_col[i]]
    
df['cleaned_data'] = pd.Series(temp_col)

In [49]:
%%time
df['Boilerplate'] = mts.Boilerplate(df.cleaned_data, n = 4, min_doc = 5)

Get the Boilerplate: 100%|█████████████████████████████████████████████████████████| 510/510 [00:00<00:00, 3774.53it/s]
Get the Length of Sentence: 100%|█████████████████████████████████████████████████| 510/510 [00:00<00:00, 63699.56it/s]
Flag the Sentence: 100%|████████████████████████████████████████████████████████████| 510/510 [00:00<00:00, 783.94it/s]

'======================== Boilerplate Calculation Started ========================='

'======================== Boilerplate Calculation Finished ========================'

Wall time: 1.3 s

In [9]:
%%time
df['Redundancy'] = mts.Redundancy(df.cleaned_data, n = 10)

Get the Redundancy: 100%|██████████████████████████████████████████████████████████| 510/510 [00:00<00:00, 6214.22it/s]

Wall time: 671 ms

In [10]:
%%time
df['Specificity'] = mts.Specificity(df.text)

Get the Specificity: 100%|███████████████████████████████████████████████████████████| 510/510 [00:18<00:00, 28.06it/s]

Wall time: 18.6 s

In [11]:
%%time
df['Relative_prevalence'] = mts.Relative_prevalence(df.text)

Get the Relative_prevalence: 100%|█████████████████████████████████████████████████| 510/510 [00:00<00:00, 6660.98it/s]

Wall time: 78.1 ms

In [50]:
df

,file_num,text,cleaned_data,Boilerplate
0,001.txt,Ad sales boost Time Warner profit Quarterly p...,[ad sales boost time warner profit quarterly ...,0.268409
1,002.txt,Dollar gains on Greenspan speech The dollar h...,[dollar gains on greenspan speech the dollar ...,0.188482
2,003.txt,Yukos unit buyer faces loan claim The owners ...,[yukos unit buyer faces loan claim the owners...,0.386364
3,004.txt,High fuel prices hit BA's profits British Air...,[high fuel prices hit bas profits british air...,0.279302
4,005.txt,Pernod takeover talk lifts Domecq Shares in U...,[pernod takeover talk lifts domecq shares in ...,0.267176
...,...,...,...,...
505,506.txt,Trial begins of Spain's top banker The trial ...,[trial begins of spains top banker the trial ...,0.000000
506,507.txt,UK economy ends year with spurt The UK econom...,[uk economy ends year with spurt the uk econo...,0.279915
507,508.txt,HealthSouth ex-boss goes on trial The former ...,[healthsouth exboss goes on trial the former ...,0.085973
508,509.txt,Euro firms miss out on optimism More than 90%...,[euro firms miss out on optimism more than 90...,0.180952
509,510.txt,Lacroix label bought by US firm Luxury goods ...,[lacroix label bought by us firm luxury goods...,0.147651